<!--The content below is only a placeholder and can be replaced.-->
teste
<div class="container">

  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <hr />
  <form (ngSubmit)="onSubmit(fm)" #fm="ngForm">
    <div class="form-group">
      <label for="name">Item Name:</label>
      <input type="text" class="form-control" ngModel name="name">
    </div>
    <div class="form-group">
      <label for="price">Item Price:</label>
      <input type="text" class="form-control" ngModel name="price">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

</div>
